# Игнорировать папку __pycache__ и её содержимое
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать папку .idea и её содержимое (для JetBrains IDE)
.idea/
.idea/*

# Игнорировать другие служебные файлы
*.log
*.tmp
*.swp
*.out

venv

bot_token.py
keys.txt